In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [59]:
df = pd.read_csv('/home/smr1020/bumper/CRASH_V_2018.csv',na_values=[' '])

In [60]:
df.head()

,CRN,DISTRICT,COUNTY,MUNICIPALITY,POLICE_AGCY,CRASH_YEAR,CRASH_MONTH,DAY_OF_WEEK,TIME_OF_DAY,HOUR_OF_DAY,...,PED_DEATH_COUNT,PED_MAJ_INJ_COUNT,MAX_SEVERITY_LEVEL,COMM_VEH_COUNT,DEC_LAT,DEC_LONG,RDWY_SURF_TYPE_CD,COUNTY_NAME,MUNICIPALITY_NAME,COUNTY_YEAR
0,2018005696,8,36,36202,68T06,2018,1,3,0810,08,...,0,0,0,0,40.2356,-76.0459,,Lancaster,Brecknock Twp,CRASH_2018_Lancaster
1,2018000319,2,24,24301,24301,2018,1,2,1624,16,...,0,0,0,0,41.4377,-78.5842,,Elk,Saint Marys City,CRASH_2018_Elk
2,2018005742,6,23,23111,23111,2018,1,5,2055,20,...,0,0,8,0,39.9637,-75.2826,,Delaware,Upper Darby Twp,CRASH_2018_Delaware
3,2018005777,5,48,48301,48501,2018,1,6,0500,05,...,0,0,3,0,40.6022,-75.3741,,Northampton,Bethlehem City,CRASH_2018_Northampton
4,2018003363,9,7,7201,68G01,2018,1,3,0118,01,...,0,0,0,0,40.4703,-78.5370,,Blair,Allegheny Twp,CRASH_2018_Blair

In [61]:
# 01 - Blowing Sand, Soil, Dirt
# 02 - Blowing Snow
# 03 - Clear
# 04 - Cloudy
# 05 - Fog, Smog, Smoke
# 06 - Freezing Rain or Freezing Drizzle
# 07 - Rain
# 08 - Severe Crosswinds
# 09 - Sleet or Hail
# 10 - Snow
# 98 - Other
# 99 - Unknown

dict = {1:'Blowing Sand, Soil, Dirt',
2:'Blowing Snow',
3:'Clear',
4:'Cloudy',
5:'Fog, Smog, Smoke',
6:'Freezing Rain or Freezing Drizzle',
7:'Rain',
8:'Severe Crosswinds',
9:'Sleet or Hail',
10:'Snow',
}

len(df)

128411

In [62]:
import numpy as np

In [63]:
df['WEATHER'].unique()

array([ 1.,  4.,  8.,  6.,  3.,  2.,  5.,  9.,  7., nan])

In [64]:
df = df.dropna(subset=['WEATHER'])

In [65]:
df = df['WEATHER']